---
import Card from "../components/Card.astro";
import Layout from "../layouts/Base_Work.astro";
---

<Layout title="Senior High School">
    <section class="grid xl:grid-cols-2 gap-4">
        <Card title="Shiro's Fantastical Website", buttonLink="Hello!" />
        <Card title="C.R.O.N.O.S", buttonLink="Hello!" />
    </section>
</Layout>