---
import Layout from '../layouts/Base_Main.astro';
import '../styles/global.css';
---

<Layout title="XianShizukana's Works">
    <section class="bg-pink-400 w-screen h-screen items-center justify-center flex flex-col">
        <a class="w-full p-5 bg-pink-50">
            <h1>Hello!</h1>
        </a>
        <a class="w-full p-5 bg-pink-50" href="/">
            <h1>Hello!</h1>
        </a>
        <a class="w-full p-5 bg-pink-50">
            <h1>Hello!</h1>
        </a>
    </section>
</Layout>