---
import '../styles/global.css'
---

<div class="w-full bg-pink-100 px-12 lg:px-64 py-12 flex flex-col" id="about">
    <div class="flex flex-row mb-4 ">
        <div class="bg-pink-900 flex-2 p-12 flex justify-center items-center shadow-lg">
            <p class="lg:text-2xl font-mono font-bold text-pink-50 text-justify">An aspiring AI / Cloud Developer who is currently proficient in web development using HTML & CSS. Currently learning PyQt and Python. Published five games in itch.io. Open to learning new skills. </p>
        </div>
        <div class="bg-pink-300 hidden lg:flex lg:flex-1 p-12 font-mono text-justify shadow-lg">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi quos reiciendis saepe illum asperiores aliquid, optio, soluta voluptas a earum nobis ipsum molestiae deserunt, veniam minus enim repudiandae cupiditate distinctio!</p>
        </div>
    </div>
</div>
