---
import '../styles/global.css'
---

<header class="fixed w-full z-999  py-5 lg:px-40 backdrop-blur-xl bg-pink-50/60">
    <div class="flex justify-center lg:justify-between font-bold">
        <h1 class="text-2xl text-pink-600 hidden lg:flex">XianShizukana</h1>
        <ul class="flex space-x-16">
           <li><a class="text-2xl text-pink-600">About</a></li>
           <li><a class="text-2xl text-pink-600">Works</a></li>
           <li><a class="text-2xl text-pink-600">Contacts</a></li>
        </ul>
    </div>
</header>