---
import '../styles/global.css'
---

<div class="bg-pink-950 min-h-screen h-full w-full flex lg:flex-row flex-col justify-center items-center">
    <div class="mb-4">
        <img src="/public/hero-img.jpg" class="rounded-full w-76">
    </div>
    <div class="text-center lg:text-left lg:ml-12">
        <h1 class="text-4xl lg:text-6xl text-pink-100">Xian Shizukana</h1>
        <p class="text-lg lg:text-2xl text-pink-300">Aspiring AI Developer / Cloud Engineer</p>
    </div>
</div>