---
import '../styles/global.css'
---

<div class="bg-[url(/hero-img.png)] bg-cover bg-position-[0%_30%] min-h-screen h-full w-full flex lg:flex-row flex-col justify-center items-center">
    <div class="text-center bg-white w-full py-5 shadow-2xl">
        <h1 class="text-5xl lg:text-9xl text-pink-800 font-extrabold">Xian Shizukana</h1>
        <p class="text-lg lg:text-4xl text-pink-400 font-bold">Aspiring AI Developer / Cloud Engineer</p>
    </div>
</div>