---
import "../styles/global.css";

interface Props {
  link: string;
  title: string;
  image?: string;
}

const { link = "/", title = "", image = "/hero-img.png" } = Astro.props;
---

<a
  class="block w-full bg-cover p-5 text-center text-3xl font-extrabold text-pink-950 transition-transform duration-100 hover:scale-110 lg:p-10 lg:text-5xl"
  style={`background-image: url(${image});`}
  href={link}
>
  <h1>{title}</h1>
</a>
